
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Footer - Sagar Developer</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Yog<span>Shala</span></h3>

            <p class="footer-links">
                <a href="/">Home</a>
                |
                <a href="/shop/">Shop</a>
                |
                <a href="">Contact</a>
                |
                <a href="#">Blog</a>
            </p>

            <p class="footer-company-name">Copyright © 2021 <strong>@YogShala</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Mumbai</span>
                    Maharastra</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 7678002635</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:nehanshu@gmail.com">YogShala@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                Contact Us:<br>
                <i class="bi bi-geo-alt">India<br>
                    YogShala Centre,<br>
                    Mira Road, Mumbai - 401107<br></i>
                <i class="bi bi-telephone">
                    7678002635<br>
                    8928227086<br></i>
                <i class="bi bi-envelope">YogShala@gmail.com</i>
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

</body>

</html>
