{% extends 'base.html' %}
{% block 'content' %}
{% load static %}
    <div class="container mt-4">
        <div class="row mt-5" >
            <div class="col-md-4 mt-5 mx-auto mb-5">
                <h1 class="text-center"><a href="" style=" color: #704934;"><i class="bi bi-person mx-auto  ";></i></a></h1>
                {% if error %}
                <div class="alert alert-danger">{{error}}</div>
                {% endif %}
                
            
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" placeholder="UserName" class="form-control" name="uname">
                </div>
                <div class="mb-3">
                    <input type="email" placeholder="Email address" class="form-control" name="uemail">
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="Password" class="form-control" name="upass">
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="Confirm Password" class="form-control" name="ucpass">
                </div>
                
                <div class="mb-3">
                    <input type="submit" value="Register" class="form-control" style="background-color: #8B4513;color: antiquewhite;">
                    {% if success %}
                        <div>{{success}}</div>
                    {% endif %}
                
                <hr>
                <div class="text-center">Already have an account ?<a href="/login/" style="text-decoration: none; color: #704934;">Login</a></div>
                </div>
            </form>
            </div>
        </div>
        
    </div>
    <script src="./asset/js/bootstrap.min.js"></script>
    <script src="./asset/js/popper.js"></script>
    
    {% endblock 'content' %}